@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900;1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

body {
  font-family: "Raleway", "Arial", "Times New Roman";
  font-size: 62.5%;
}

/* html::-webkit-scrollbar {
  width: 0; 
  background: transparent;
} */
